apiVersion: v1
kind: Service
metadata:
  name: {{ homelab_talos_homepage_name }}
  namespace: default
  labels:
    app.kubernetes.io/name: {{ homelab_talos_homepage_name }}
  annotations:
spec:
  type: ClusterIP
  ports:
    - port: {{ homelab_talos_homepage_port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ homelab_talos_homepage_name }}