# This is the values.yaml I used on my k3s raspberrypi cluster

# if you have a problem with serviceWeb Pods not building you might need to checkout this issue:
# https://github.com/MoJo2600/pihole-kubernetes/issues/230

ingress:
  enabled: true

persistentVolumeClaim:
  enabled: true
  existingClaim: pihole

serviceWeb:
  loadBalancerIP: {{ homelab_talos_pihole_address }}
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer

serviceDns:
  loadBalancerIP: {{ homelab_talos_pihole_address }}
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer

serviceDhcp:
  loadBalancerIP: {{ homelab_talos_pihole_address }}
  annotations:
    metallb.universe.tf/allow-shared-ip: pihole-svc
  type: LoadBalancer

dnsmasq:
  customDnsEntries:
{% for entry in homelab_talos_pihole_dns_entries %}
    - address=/{{ entry.name }}/{{ entry.address }}
{% endfor %}

  customCnameEntries: 
  # Here we specify custom cname entries that should point to `A` records or
  # elements in customDnsEntries array.
  # The format should be:
{% for entry in homelab_talos_pihole_dns_cnames %}
    - cname={{ entry.name }},{{ entry.target }}
{% endfor %}

podDnsConfig:
  enabled: true
  policy: "None"
  nameservers:
  - 127.0.0.1
  - 1.1.1.1

#! use an existing secret in a prod env
adminPassword: "{{ homelab_talos_pihole_admin_password }}"

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

extraEnvVars: {
  DNSMASQ_USER: "root"
}