---
- name: Ensure that openvpn and nftables are installed
  ansible.builtin.apt:
    name:
      - openvpn
      - nftables
    state: present
    update_cache: yes

- name: Ensure ipv4 forwarding is enabled
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: Ensure that ipv4 forwarding is configured persistently
  ansible.builtin.copy:
    dest: /etc/sysctl.d/99-ip-forward.conf
    content: "net.ipv4.ip_forward = 1\n"
    owner: root
    group: root
    mode: "0644"
