prometheus:    
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            resources:
              requests:
                storage: {{ homelab_k8s_monitoring_prometheus_storage | default('128Gi') }}

      additionalScrapeConfigs:
{% for config in homelab_k8s_monitoring_prometheus_scrape_configs | default([]) %}
## {{ config.name }}
        - job_name: '{{ config.name }}'
          scheme: {{ config.scheme | default ('http') }}
{% if config.basic_auth is defined %}
          basic_auth:
            username: {{ config.basic_auth.username }}
            password: {{ config.basic_auth.password }}
{% endif %}
          static_configs:
            - targets:
{% for host in groups[config.group] %}
              - {{  hostvars[host].ansible_host }}:{{ config.port }}
{% endfor %}
{% endfor %}

grafana:
  persistence:
    enabled: true
    type: pvc
    existingClaim: grafana

alertmanager:
  alertmanagerSpec:
    storage: 
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 4Gi
