---
- name: L4 OS Convergence
  hosts: "{{ converge_group }}"
  gather_facts: true
  become: true

  tasks:
    # -----------------
    # Steps for all OS
    # -----------------
    - name: L4 | All | backups
      ansible.builtin.include_role:
        name: all_backups
        apply:
          tags: [l4, step_backups]
      when: converge_ubuntu or converge_arch
      tags: [l4, step_backups]

    - name: L4 | All | devops
      ansible.builtin.include_role:
        name: all_devops
        apply:
          tags: [l4, step_devops]
      when: converge_devops
      tags: [l4, step_devops]
