---
- name: L4 OS Convergence
  hosts: "{{ converge_group }}"
  gather_facts: true
  become: true

  tasks:
    # -----------------
    # Ubuntu steps
    # -----------------
    - name: L4 | Ubuntu | openvpn
      ansible.builtin.include_role:
        name: ubuntu_openvpn
        apply:
          tags: [l4, os_ubuntu, step_openvpn]
      when: converge_openvpn and converge_ubuntu
      tags: [l4, os_ubuntu, step_openvpn]

    # -----------------
    # Steps for all OS
    # -----------------
    - name: L4 | All | restore
      ansible.builtin.include_role:
        name: all_restore
        apply:
          tags: [l4, step_restore]
      when: converge_restore
      tags: [l4, step_restore]
    
    - name: L4 | All | backups
      ansible.builtin.include_role:
        name: all_backups
        apply:
          tags: [l4, step_backups]
      when: converge_ubuntu or converge_arch
      tags: [l4, step_backups]

    - name: L4 | All | devops
      ansible.builtin.include_role:
        name: all_devops
        apply:
          tags: [l4, step_devops]
      when: converge_devops
      tags: [l4, step_devops]

    - name: L4 | All | s3 mirror
      ansible.builtin.include_role:
        name: all_s3_mirror
        apply:
          tags: [l4, step_s3_mirror]
      when: converge_s3_mirror
      tags: [l4, step_s3_mirror]

    - name: L4 | All | postgres dump
      ansible.builtin.include_role:
        name: all_postgres_dump
        apply:
          tags: [l4, step_db_dump]
      when: converge_postgres_dump
      tags: [l4, step_db_dump]

    - name: L4 | All | docker gatus
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_gatus]
      when: converge_docker_gatus
      tags: [l4, step_docker_gatus]
      vars:
        compose_app_name: gatus
        compose_source_type: template
        compose_template_src: "templates/docker-compose/gatus.compose.yaml.j2"
        compose_extra_templates:
          - src: "templates/gatus/gatus.config.yaml.j2"
            dest: "{{ gatus_config_dir }}/config.yaml"
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
        compose_paths:
          - path: "{{ gatus_data_dir }}" # /var/lib/gatus
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"
          - path: "{{ gatus_config_dir }}" # /etc/gatus
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"

    - name: L4 | All | docker it tools
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_it_tools]
      when: converge_docker_it_tools
      tags: [l4, step_docker_it_tools]
      vars:
        compose_app_name: tools
        compose_source_type: file
        compose_file_src: files/docker-compose/it-tools.compose.yaml

    - name: L4 | All | docker no geeks brewing
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_ngb]
      when: converge_docker_ngb
      tags: [l4, step_docker_ngb]
      vars:
        compose_app_name: no_geeks_brewing
        compose_source_type: file
        compose_file_src: files/docker-compose/no_geeks_brewing.compose.yaml
        compose_env:
          NO_GEEKS_BREWING_AUTHENTIK_CLIENT_ID:  "{{ lookup('env', 'NO_GEEKS_BREWING_AUTHENTIK_CLIENT_ID') }}"
          NO_GEEKS_BREWING_AUTHENTIK_CLIENT_SECRET: "{{ lookup('env', 'NO_GEEKS_BREWING_AUTHENTIK_CLIENT_SECRET') }}"
          NO_GEEKS_BREWING_AUTHENTIK_ISSUER_URL: "{{ lookup('env', 'NO_GEEKS_BREWING_AUTHENTIK_ISSUER_URL') }}"
          NO_GEEKS_BREWING_BREWFATHER_AUTH_TOKEN: "{{ lookup('env', 'NO_GEEKS_BREWING_BREWFATHER_AUTH_TOKEN') }}"
          NO_GEEKS_BREWING_POST_LOGOUT_REDIRECT_URI: "{{ lookup('env', 'NO_GEEKS_BREWING_POST_LOGOUT_REDIRECT_URI') }}"
          NO_GEEKS_BREWING_AUTHENTIK_LOGOUT_URI: "{{ lookup('env', 'NO_GEEKS_BREWING_AUTHENTIK_LOGOUT_URI') }}"
          NO_GEEKS_BREWING_REDIRECT_URI: "{{ lookup('env', 'NO_GEEKS_BREWING_REDIRECT_URI') }}"

    - name: L4 | All | docker memos
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_memos]
      when: converge_docker_memos
      tags: [l4, step_docker_memos]
      vars:
        compose_app_name: memos
        compose_source_type: template
        compose_template_src: "templates/docker-compose/memos.compose.yaml.j2"
        compose_paths:
          - path: "{{ memos_data_dir }}"
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"

    - name: L4 | All | docker portainer
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_portainer]
      when: converge_docker_portainer
      tags: [l4, step_docker_portainer]
      vars:
        compose_app_name: portainer
        compose_source_type: template
        compose_template_src: "templates/docker-compose/portainer.compose.yaml.j2"
        compose_paths:
          - path: "{{ portainer_data_dir }}"
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"

    - name: L4 | All | docker nginx
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_nginx]
      when: converge_docker_nginx
      tags: [l4, step_docker_nginx]
      vars:
        compose_app_name: nginx
        compose_source_type: file
        compose_file_src: files/docker-compose/nginx.compose.yaml

    - name: L4 | All | docker vaultwarden
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_vaultwarden]
      when: converge_docker_vaultwarden
      tags: [l4, step_docker_vaultwarden]
      vars:
        compose_app_name: vaultwarden
        compose_source_type: template
        compose_template_src: templates/docker-compose/vaultwarden.compose.yaml.j2
        compose_env: 
          ADMIN_TOKEN:  "{{ lookup('env', 'VAULTWARDEN_ADMIN_TOKEN') }}"
          SIGNUPS_ALLOWED: "false"
        compose_paths:
          - path: "/var/lib/vaultwarden"
            create: true
            mode: "0755"

    - name: L4 | All | docker tautulli
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_tautulli]
      when: converge_docker_tautulli
      tags: [l4, step_docker_tautulli]
      vars:  
        compose_app_name: tautulli
        compose_source_type: template
        compose_template_src: templates/docker-compose/tautulli.compose.yaml.j2
        compose_paths:
          - path: "{{ tautulli_config_dir}}"
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"

    - name: L4 | All | docker authentik
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_authentik]
      when: converge_docker_authentik
      tags: [l4, step_docker_authentik]
      vars:
        compose_app_name: authentik
        compose_source_type: url
        compose_url: "https://docs.goauthentik.io/docker-compose.yml"
        compose_env:
          AUTHENTIK_TAG: "2025.10.3"
          COMPOSE_PORT_HTTP: 9180
          COMPOSE_PORT_HTTPS: 9143
          PG_PASS: "{{ lookup('env', 'DOCKER_AUTHENTIK_PG_PASS') }}"
          AUTHENTIK_SECRET_KEY: "{{ lookup('env', 'DOCKER_AUTHENTIK_SECRET_KEY') }}"

    - name: L4 | All | docker traefik
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_traefik]
      when: converge_docker_traefik
      tags: [l4, step_docker_traefik]
      vars:
        compose_app_name: traefik
        compose_source_type: template
        compose_template_src: "templates/docker-compose/traefik.compose.yaml.j2"
        compose_env:
          CLOUDFLARE_EMAIL: "allan.e.lewis@gmail.com"
          CLOUDFLARE_API_KEY: "{{ lookup('env', 'TRAEFIK_CF_API_KEY') }}"
        compose_extra_templates:
          - src: "templates/traefik/traefik.config.yaml.j2"
            dest: "{{ traefik_config_dir }}/traefik.yaml"
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
        compose_paths:
          - path: "{{ traefik_acme_dir }}"
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"
          - path: "{{ traefik_config_dir }}"
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"

    # - name: L4 | All | docker pihole
    #   ansible.builtin.include_role:
    #     name: all_docker_compose
    #     apply:
    #       tags: [l4, step_docker_pihole]
    #   when: converge_docker_pihole
    #   tags: [l4, step_docker_pihole]
