---
- name: L4 OS Convergence
  hosts: "{{ converge_group }}"
  gather_facts: true
  become: true

  tasks:
    # -----------------
    # Steps for all OS
    # -----------------
    - name: L4 | All | restore
      ansible.builtin.include_role:
        name: all_restore
        apply:
          tags: [l4, step_restore]
      when: converge_restore
      tags: [l4, step_restore]
    
    - name: L4 | All | backups
      ansible.builtin.include_role:
        name: all_backups
        apply:
          tags: [l4, step_backups]
      when: converge_ubuntu or converge_arch
      tags: [l4, step_backups]

    - name: L4 | All | devops
      ansible.builtin.include_role:
        name: all_devops
        apply:
          tags: [l4, step_devops]
      when: converge_devops
      tags: [l4, step_devops]

    - name: L4 | All | s3 mirror
      ansible.builtin.include_role:
        name: all_s3_mirror
        apply:
          tags: [l4, step_s3_mirror]
      when: converge_s3_mirror
      tags: [l4, step_s3_mirror]

    - name: L4 | All | postgres dump
      ansible.builtin.include_role:
        name: all_postgres_dump
        apply:
          tags: [l4, step_db_dump]
      when: converge_postgres_dump
      tags: [l4, step_db_dump]

    - name: L4 | All | docker gatus
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_gatus]
      when: converge_docker_gatus
      tags: [l4, step_docker_gatus]
      vars:
        compose_app_name: gatus
        compose_source_type: template
        compose_template_src: "templates/docker-compose/gatus.compose.yaml.j2"
        compose_extra_templates:
          - src: "templates/gatus/gatus.config.yaml.j2"
            dest: "{{ gatus_config_dir }}/config.yaml"
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
        compose_paths:
          - path: "{{ gatus_data_dir }}" # /var/lib/gatus
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"
          - path: "{{ gatus_config_dir }}" # /etc/gatus
            create: true
            uid: "{{ gitops_uid }}"
            gid: "{{ gitops_gid }}"
            mode: "0755"

    - name: L4 | All | docker it tools
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l4, step_docker_it_tools]
      when: converge_docker_it_tools
      tags: [l4, step_docker_it_tools]
      vars:
        compose_app_name: tools
        compose_source_type: file
        compose_file_src: files/docker-compose/it-tools.compose.yaml
