---
- name: Gatus | Pre tasks
  ansible.builtin.import_tasks: pre.yaml
  tags: [l4, step_docker_gatus, step_docker_gatus_all]

- name: Gatus | Deploy docker compose app
  ansible.builtin.include_role:
    name: all_docker_compose
    apply:
      tags: [l4, step_docker_gatus_all]
  tags: [l4, step_docker_gatus_all]
  vars:
    compose_app_name: gatus
    compose_source_type: template
    compose_template_src: "templates/gatus.compose.yaml.j2"
    compose_paths:
      - path: "{{ gatus_data_dir }}" # /var/lib/gatus
        create: true
        uid: "{{ gitops_uid }}"
        gid: "{{ gitops_gid }}"
        mode: "0755"
      - path: "{{ gatus_config_dir }}" # /etc/gatus
        create: true
        uid: "{{ gitops_uid }}"
        gid: "{{ gitops_gid }}"
        mode: "0755"
