services:
  jellyfin:
    image: "jellyfin/jellyfin:2025112405"
    container_name: jellyfin
    user: "{{ compose_config.compose_env.JELLYFIN_USER_UID }}:{{ compose_config.compose_env.JELLYFIN_GROUP_GID }}"
    ports:
      - "8096:8096/tcp"
    volumes:
      - {{ managed_host_volumes['jellyfin_config'].local }}:/config
      - {{ managed_host_volumes['jellyfin_cache'].local }}:/cache
      - {{ managed_host_volumes['media_library_mount'].local }}:/media-library:ro
    restart: unless-stopped
    environment:
      - JELLYFIN_PublishedServerUrl={{ compose_config.compose_env.JELLYFIN_PUBLISHED_URL }}
    extra_hosts:
      - "host.docker.internal:host-gateway"
