services:

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    networks: [media]
    environment:
      - PUID={{ lab_uid }}
      - PGID={{ lab_gid }}
      - TZ="{{ lab_tz }}"
    volumes:
      - {{ managed_host_volumes['prowlarr_config'].local }}:/config
    ports:
      - 9696:9696

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    restart: unless-stopped
    networks: [media]
    environment:
      - PUID={{ lab_uid }}
      - PGID={{ lab_gid }}
      - TZ="{{ lab_tz }}"
    ports:
      - "9091:9091"
    volumes:
      - {{ managed_host_volumes['transmission_config'].local }}:/config
      - {{ managed_host_volumes['transmission_watch'].local }}:/watch
      - {{ managed_host_volumes['media_library_mount'].local }}/downloads:/downloads

networks:
  media: {}
