services:
  tautulli:
    image: ghcr.io/tautulli/tautulli:latest
    container_name: tautulli
    restart: unless-stopped
    volumes:
      - {{ managed_host_volumes['tautulli_config'].local }}:/config
    environment:
      - PUID={{ lab_uid }}
      - PGID={{ lab_gid }}
      - TZ="{{ lab_tz }}"
    ports:
      - 8181:8181
