services:

  gatus:
    image: "twinproduction/gatus:v5.35.0"
    container_name: "gatus"
    restart: "unless-stopped"
    ports: 
      - "8080:8080/tcp"
    volumes: 
      - "{{ managed_host_volumes['gatus_lib'].local }}:/data"
      - "{{ managed_host_volumes['gatus_config'].local }}:/config"
