---
- name: L3 OS Convergence
  hosts: "{{ converge_group }}"
  gather_facts: true
  become: true

  tasks:
    # -----------------
    # Arch steps
    # -----------------
    - name: L3 | Arch | sanity
      ansible.builtin.include_role:
        name: arch_sanity
        apply:
          tags: [l3, os_arch, step_sanity]
      when: converge_arch
      tags: [l3, os_arch, step_sanity]

    - name: L3 | Arch | base
      ansible.builtin.include_role:
        name: arch_base
        apply:
          tags: [l3, os_arch, step_base]
      when: converge_arch
      tags: [l3, os_arch, step_base]

    - name: L3 | Arch | harden
      ansible.builtin.include_role:
        name: arch_harden
        apply:
          tags: [l3, os_arch, step_harden]
      when: converge_arch
      tags: [l3, os_arch, step_harden]

    - name: L3 | Arch | services
      ansible.builtin.include_role:
        name: arch_services
        apply:
          tags: [l3, os_arch, step_services]
      when: converge_arch
      tags: [l3, os_arch, step_services]

    - name: L3 | Arch | AUR
      ansible.builtin.include_role:
        name: arch_aur
        apply:
          tags: [l3, os_arch, step_aur]
      when: converge_arch_aur
      tags: [l3, os_arch, step_aur]

    - name: L3 | Arch | desktop
      ansible.builtin.include_role:
        name: arch_desktop 
        apply:
          tags: [l3, os_arch, step_desktop]
      when: converge_arch_desktop
      tags: [l3, os_arch, step_desktop]

    - name: L3 | Arch | docker
      ansible.builtin.include_role:
        name: arch_docker
        apply:
          tags: [l3, os_arch, step_docker]
      when: converge_docker and converge_arch
      tags: [l3, os_arch, step_docker]

    # -----------------
    # Ubuntu steps
    # -----------------
    - name: L3 | Ubuntu | base
      ansible.builtin.include_role:
        name: ubuntu_base
        apply:
          tags: [l3, os_ubuntu, step_base]
      when: converge_ubuntu
      tags: [l3, os_ubuntu, step_base]

    - name: L3 | Ubuntu | harden
      ansible.builtin.include_role:
        name: ubuntu_harden
        apply:
          tags: [l3, os_ubuntu, step_harden]
      when: converge_ubuntu
      tags: [l3, os_ubuntu, step_harden]

    - name: L3 | Ubuntu | docker
      ansible.builtin.include_role:
        name: ubuntu_docker
        apply:
          tags: [l3, os_ubuntu, step_docker]
      when: converge_docker and converge_ubuntu
      tags: [l3, os_ubuntu, step_docker]

    # -----------------
    # Steps for all OS
    # -----------------
    - name: L3 | All | shell
      ansible.builtin.include_role:
        name: all_shell
        apply:
          tags: [l3, step_shell]
      when: converge_arch or converge_ubuntu
      tags: [l3, step_shell]

    - name: L3 | All | ssh keys
      ansible.builtin.include_role:
        name: all_ssh_keys
        apply:
          tags: [l3, step_ssh_keys]
      when: converge_arch or converge_ubuntu
      tags: [l3, step_ssh_keys]

    - name: L3 | All | backup runner
      ansible.builtin.include_role:
        name: all_backup_runner
        apply:
          tags: [l3, step_backup_runner]
      when: converge_arch or converge_ubuntu
      tags: [l3, step_backup_runner]

    - name: L3 | All | s3 mirror
      ansible.builtin.include_role:
        name: all_s3_mirror
        apply:
          tags: [l3, step_s3_mirror]
      when: converge_s3_mirror
      tags: [l3, step_s3_mirror]

    - name: L3 | All | node exporter
      ansible.builtin.include_role:
        name: all_node_exporter
        apply:
          tags: [l3, step_node_exporter]
      when: converge_node_exporter
      tags: [l3, step_node_exporter]

    - name: L3 | All | devops
      ansible.builtin.include_role:
        name: all_devops
        apply:
          tags: [l3, step_devops]
      when: converge_devops
      tags: [l3, step_devops]

    - name: L3 | All | docker monitoring
      ansible.builtin.include_role:
        name: all_docker_compose
        apply:
          tags: [l3, step_docker_monitoring]
      when: converge_docker_monitoring
      tags: [l3, step_docker_monitoring]
