---
backup_runner_cron_hour: "*"
backup_runner_cron_minute: "15"
backup_runner_healthchecks_url: "https://hc-ping.com/fc7034f6-cb5d-4965-91ae-017aeb4591da"
backup_runner_healthchecks_status: "https://healthchecks.io/b/2/125505b2-327a-40e1-91e2-f5e5dd3152db.json"

homelab_metrics_forward_url: "http://{{hostvars['gilead'].ansible_host}}:9100"

"backup_runner_volumes": [
  { 
    "src": "/var/lib/gatus",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/gatus_lib" 
  },
  { 
    "src": "/etc/gatus",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/gatus_config" 
  },
  { 
    "src": "/var/lib/pihole",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/pihole_lib" 
  },
  { 
    "src": "/etc/traefik",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/traefik_config" 
  },
  { 
    "src": "/var/lib/traefik/acme",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/traefik_acme" 
  }
]

converge_docker_gatus: true
gatus_config_dir: "/etc/gatus"
gatus_data_dir: "/var/lib/gatus"

gatus_https_endpoints:
  - name: "Gatus"
    group: "Sites (Docker)"
    url: "https://gatus.docker.allanshomelab.com"
    pattern: "*Gatus*"
  - name: "Pi-hole"
    group: "Sites (Docker)"
    url: "https://dns.docker.allanshomelab.com/admin"
    pattern: "*Pi-hole*"
  - name: "Traefik"
    group: "Sites (Docker)"
    url: "https://traefik.docker.allanshomelab.com/dashboard/#/"
    pattern: "*Traefik*"
  - name: "Plex"
    group: "Sites (Media)"
    url: "https://plex.media.allanshomelab.com/web/index.html"
    pattern: "*Plex*"
  - name: "Jellyfin"
    group: "Sites (Media)"
    url: "https://jellyfin.media.allanshomelab.com/web/"
    pattern: "*Jellyfin*"
  - name: "Whoami"
    group: "Sites (Docker)"
    url: "https://whoami.docker.allanshomelab.com"
    pattern: "*whoami.docker.allanshomelab.com*"
  - name: "Derry"
    group: "Sites (Hosts)"
    url: "https://derry.hosts.allanshomelab.com"
    pattern: "*portal*"
  - name: "Shardik"
    group: "Sites (Hosts)"
    url: "https://shardik.hosts.allanshomelab.com"
    pattern: "*Proxmox*"
  - name: "Sirius"
    group: "Sites (Hosts)"
    url: "https://sirius.hosts.allanshomelab.com"
    pattern: "*Proxmox*"
  - name: "Procyon"
    group: "Sites (Hosts)"
    url: "http://procyon.hosts.allanshomelab.com/ui/"
    pattern: "*ix-root*"
    check_cert: false
  - name: "Gilead"
    group: "Sites (Hosts)"
    url: "https://gilead.hosts.allanshomelab.com/ui/"
    pattern: "*ix-root*"
  - name: "Authentik"
    group: "Sites (Allan's Home Lab)"
    url: "https://auth.allanshomelab.com"
    pattern: "*authentik*"
  - name: "Allan's Home Lab"
    group: "Sites (Allan's Home Lab)"
    url: "https://allanshomelab.com"
    pattern: "*authentik*"
  - name: "Allan's Home Lab (www)"
    group: "Sites (Allan's Home Lab)"
    url: "https://www.allanshomelab.com"
    pattern: "*authentik*"
  - name: "Authentik"
    group: "Sites (Allan & Vaia)"
    url: "https://auth.allanandvaia.com"
    pattern: "*authentik*"
  - name: "Allan & Vaia"
    group: "Sites (Allan & Vaia)"
    url: "https://allanandvaia.com"
    pattern: "*authentik*"
  - name: "Allan & Vaia (www)"
    group: "Sites (Allan & Vaia)"
    url: "https://www.allanandvaia.com"
    pattern: "*authentik*"
  - name: "Home Assistant"
    group: "Sites (Allan & Vaia)"
    url: "https://home.allanandvaia.com"
    pattern: "*Home Assistant*"
  - name: "Immich"
    group: "Sites (Allan & Vaia)"
    url: "https://photos.allanandvaia.com/api/server/ping"
    pattern: "*pong*"
  - name: "Memos"
    group: "Sites (Allan & Vaia)"
    url: "https://memos.allanandvaia.com"
    pattern: "*memos*"
  - name: "Vaultwarden (Allan & Vaia)"
    group: "Sites (Allan & Vaia)"
    url: "https://vault.allanandvaia.com"
    pattern: "*Vaultwarden*"
  - name: Grafana
    group: "Sites (Allan's Home Lab)"
    url: "https://grafana.allanshomelab.com"
    pattern: "*Grafana*"
  - name: Argo CD
    group: "Sites (Allan's Home Lab)"
    url: "https://gitops.allanshomelab.com"
    pattern: "*Argo CD*"
  - name: "Vaultwarden (Allan's Home Lab)"
    group: "Sites (Allan's Home Lab)"
    url: "https://vault.allanshomelab.com"
    pattern: "*Vaultwarden*"
  - name: "Authentik"
    group: "Sites (129 Monroe)"
    url: "https://auth.129monroe.com"
    pattern: "*authentik*"
  - name: "129 Monroe"
    group: "Sites (129 Monroe)"
    url: "https://129monroe.com"
    pattern: "*authentik*"
  - name: "129 Monroe (www)"
    group: "Sites (129 Monroe)"
    url: "https://www.129monroe.com"
    pattern: "*authentik*"
  - name: "Vaultwarden (129 Monroe)"
    group: "Sites (129 Monroe)"
    url: "https://vault.129monroe.com"
    pattern: "*Vaultwarden*"
  - name: "Public Website"
    group: "Sites (No Geeks Brewing)"
    url: "https://nogeeksbrewing.com"
    pattern: "*No Geeks Brewing*"
  - name: "Public Website (www)"
    group: "Sites (No Geeks Brewing)"
    url: "https://www.nogeeksbrewing.com"
    pattern: "*No Geeks Brewing*"
  - name: "IT Tools"
    group: "Sites (Docker)"
    url: "https://tools.docker.allanshomelab.com"
    pattern: "*IT Tools*"
  - name: "Alertmanager"
    group: "Sites (K8s)"
    url: "https://alerts.k8s.allanshomelab.com"
    pattern: "*Alertmanager*"
  - name: Prowlarr
    group: "Sites (Media)"
    url: "https://prowlarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: Homepage
    group: "Sites (K8s)"
    url: "https://homepage.k8s.allanshomelab.com"
    pattern: "*Homepage*"
  - name: Longhorn
    group: "Sites (K8s)"
    url: "https://longhorn.k8s.allanshomelab.com"
  - name: Portainer
    group: "Sites (Docker)"
    url: "https://portainer.docker.allanshomelab.com"
    pattern: "*Portainer*"
  - name: Prometheus
    group: "Sites (K8s)"
    url: "https://prometheus.k8s.allanshomelab.com"
    pattern: "*Prometheus*"
  - name: Sonarr
    group: "Sites (Media)"
    url: "https://sonarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: Radarr
    group: "Sites (Media)"
    url: "https://radarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: Lidarr
    group: "Sites (Media)"
    url: "https://lidarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: "Tautulli"
    group: "Sites (Media)"
    url: "https://tautulli.media.allanshomelab.com"
    pattern: "*Tautulli*"
  - name: "Traefik"
    group: "Sites (K8s)"
    url: "https://traefik.k8s.allanshomelab.com/dashboard/#/"
    pattern: "*Traefik*"
  - name: Transmission
    group: "Sites (Media)"
    url: "https://transmission.media.allanshomelab.com/transmission/web/"
    pattern: "*Transmission*"
  - name: KVM (Shardik)
    group: "Sites (KVM)"
    url: "https://one.kvm.allanshomelab.com"
    pattern: "*JetKVM*"
  - name: KVM (Sirius)
    group: "Sites (KVM)"
    url: "https://two.kvm.allanshomelab.com"
    pattern: "*JetKVM*"
gatus_tcp_endpoints:
  - name: "PostgreSQL"
    group: "K8s Load Balancer IPs"
    url: "tcp://postgres.k8s.allanshomelab.com:5432"
    ip: "192.168.86.196"
  - name: "Traefik"
    group: "K8s Load Balancer IPs"
    url: "tcp://traefik.k8s.allanshomelab.com:443"
    ip: "192.168.86.187"
