---
converge_postgres_dump: true
postgres_db_container: "authentik-postgresql-1"
postgres_db_name: "authentik"
postgres_db_user: "authentik"
postgres_db_password: "{{ lookup('env', 'DOCKER_AUTHENTIK_PG_PASS') }}"
postgres_db_backup_dir: /var/lib/postgres-db-dumps

converge_docker_cloudflare: true

twingate_access_token: "{{ lookup('env', 'TWINGATE_VALIANT_STINGRAY_ACCESS_TOKEN') }}"
twingate_refresh_token: "{{ lookup('env', 'TWINGATE_VALIANT_STINGRAY_REFRESH_TOKEN') }}"

backup_runner_cron_hour: "*"
backup_runner_cron_minute: "15"
backup_runner_healthchecks_url: "https://hc-ping.com/fc7034f6-cb5d-4965-91ae-017aeb4591da"
backup_runner_healthchecks_status: "https://healthchecks.io/b/2/125505b2-327a-40e1-91e2-f5e5dd3152db.json"

homelab_metrics_forward_url: "http://{{hostvars['gilead'].ansible_host}}:9100"

"backup_runner_volumes": [
  { 
    "src": "/var/lib/gatus",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/gatus_lib" 
  },
  { 
    "src": "/etc/gatus",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/gatus_config" 
  },
  { 
    "src": "/var/lib/pihole",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/pihole_lib" 
  },
  { 
    "src": "/etc/traefik",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/traefik_config" 
  },
  { 
    "src": "/var/lib/traefik/acme",
    "dest": "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/traefik_acme" 
  },
  { 
    src: "{{ postgres_db_backup_dir }}",
    dest: "{{ backup_runner_user }}@{{ backup_runner_remote_host }}:{{ backup_runner_remote_base_path }}/authentik/db-dumps" 
  }
]

converge_docker_traefik: true
traefik_acme_dir: "/var/lib/traefik/acme"
traefik_config_dir: "/etc/traefik"

converge_docker_authentik: true
authentik_version: "2025.10.3"

converge_docker_gatus: true
gatus_config_dir: "/etc/gatus"
gatus_data_dir: "/var/lib/gatus"

gatus_https_endpoints:
  - name: "Gatus"
    group: "Sites (Docker)"
    url: "https://gatus.docker.allanshomelab.com"
    pattern: "*Gatus*"
  - name: "Pi-hole"
    group: "Sites (Docker)"
    url: "https://dns.docker.allanshomelab.com/admin"
    pattern: "*Pi-hole*"
  - name: "Traefik"
    group: "Sites (Docker)"
    url: "https://traefik.docker.allanshomelab.com/dashboard/#/"
    pattern: "*Traefik*"
  - name: "Plex"
    group: "Sites (Media)"
    url: "https://plex.media.allanshomelab.com/web/index.html"
    pattern: "*Plex*"
  - name: "Jellyfin"
    group: "Sites (Media)"
    url: "https://jellyfin.media.allanshomelab.com/web/"
    pattern: "*Jellyfin*"
  - name: "Whoami"
    group: "Sites (Docker)"
    url: "https://whoami.docker.allanshomelab.com"
    pattern: "*whoami.docker.allanshomelab.com*"
  - name: "Derry"
    group: "Sites (Hosts)"
    url: "https://derry.hosts.allanshomelab.com"
    pattern: "*portal*"
  - name: "Shardik"
    group: "Sites (Hosts)"
    url: "https://shardik.hosts.allanshomelab.com"
    pattern: "*Proxmox*"
  - name: "Sirius"
    group: "Sites (Hosts)"
    url: "https://sirius.hosts.allanshomelab.com"
    pattern: "*Proxmox*"
  - name: "Procyon"
    group: "Sites (Hosts)"
    url: "https://procyon.hosts.allanshomelab.com/ui/"
    pattern: "*ix-root*"
    check_cert: false
  - name: "Gilead"
    group: "Sites (Hosts)"
    url: "https://gilead.hosts.allanshomelab.com/ui/"
    pattern: "*ix-root*"
  - name: "Authentik"
    group: "Sites (Allan's Home Lab)"
    url: "https://auth.allanshomelab.com"
    pattern: "*authentik*"
  - name: "Allan's Home Lab"
    group: "Sites (Allan's Home Lab)"
    url: "https://allanshomelab.com"
    pattern: "*authentik*"
  - name: "Allan's Home Lab (www)"
    group: "Sites (Allan's Home Lab)"
    url: "https://www.allanshomelab.com"
    pattern: "*authentik*"
  - name: "Authentik"
    group: "Sites (Allan & Vaia)"
    url: "https://auth.allanandvaia.com"
    pattern: "*authentik*"
  - name: "Allan & Vaia"
    group: "Sites (Allan & Vaia)"
    url: "https://allanandvaia.com"
    pattern: "*authentik*"
  - name: "Allan & Vaia (www)"
    group: "Sites (Allan & Vaia)"
    url: "https://www.allanandvaia.com"
    pattern: "*authentik*"
  - name: "Home Assistant"
    group: "Sites (Allan & Vaia)"
    url: "https://home.allanandvaia.com"
    pattern: "*Home Assistant*"
  - name: "Immich"
    group: "Sites (Allan & Vaia)"
    url: "https://photos.allanandvaia.com/api/server/ping"
    pattern: "*pong*"
  - name: "Memos"
    group: "Sites (Allan & Vaia)"
    url: "https://memos.allanandvaia.com"
    pattern: "*memos*"
  - name: "Vaultwarden (Allan & Vaia)"
    group: "Sites (Allan & Vaia)"
    url: "https://vault.allanandvaia.com"
    pattern: "*Vaultwarden*"
  - name: Grafana
    group: "Sites (Allan's Home Lab)"
    url: "https://grafana.allanshomelab.com"
    pattern: "*Grafana*"
  - name: Argo CD
    group: "Sites (Allan's Home Lab)"
    url: "https://gitops.allanshomelab.com"
    pattern: "*Argo CD*"
  - name: "Vaultwarden (Allan's Home Lab)"
    group: "Sites (Allan's Home Lab)"
    url: "https://vault.allanshomelab.com"
    pattern: "*Vaultwarden*"
  - name: "Authentik"
    group: "Sites (129 Monroe)"
    url: "https://auth.129monroe.com"
    pattern: "*authentik*"
  - name: "129 Monroe"
    group: "Sites (129 Monroe)"
    url: "https://129monroe.com"
    pattern: "*authentik*"
  - name: "129 Monroe (www)"
    group: "Sites (129 Monroe)"
    url: "https://www.129monroe.com"
    pattern: "*authentik*"
  - name: "Vaultwarden (129 Monroe)"
    group: "Sites (129 Monroe)"
    url: "https://vault.129monroe.com"
    pattern: "*Vaultwarden*"
  - name: "Public Website"
    group: "Sites (No Geeks Brewing)"
    url: "https://nogeeksbrewing.com"
    pattern: "*No Geeks Brewing*"
  - name: "Public Website (www)"
    group: "Sites (No Geeks Brewing)"
    url: "https://www.nogeeksbrewing.com"
    pattern: "*No Geeks Brewing*"
  - name: "IT Tools"
    group: "Sites (Docker)"
    url: "https://tools.docker.allanshomelab.com"
    pattern: "*IT Tools*"
  - name: "Alertmanager"
    group: "Sites (K8s)"
    url: "https://alerts.k8s.allanshomelab.com"
    pattern: "*Alertmanager*"
  - name: Prowlarr
    group: "Sites (Media)"
    url: "https://prowlarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: Homepage
    group: "Sites (Docker)"
    url: "https://homepage.docker.allanshomelab.com"
    pattern: "*Homepage*"
  - name: Longhorn
    group: "Sites (K8s)"
    url: "https://longhorn.k8s.allanshomelab.com"
  - name: Portainer
    group: "Sites (Docker)"
    url: "https://portainer.docker.allanshomelab.com"
    pattern: "*Portainer*"
  - name: Prometheus
    group: "Sites (K8s)"
    url: "https://prometheus.k8s.allanshomelab.com"
    pattern: "*Prometheus*"
  - name: Sonarr
    group: "Sites (Media)"
    url: "https://sonarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: Radarr
    group: "Sites (Media)"
    url: "https://radarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: Lidarr
    group: "Sites (Media)"
    url: "https://lidarr.media.allanshomelab.com/ping"
    pattern: "*OK*"
  - name: "Tautulli"
    group: "Sites (Media)"
    url: "https://tautulli.media.allanshomelab.com"
    pattern: "*Tautulli*"
  - name: "Traefik"
    group: "Sites (K8s)"
    url: "https://traefik.k8s.allanshomelab.com/dashboard/#/"
    pattern: "*Traefik*"
  - name: Transmission
    group: "Sites (Media)"
    url: "https://transmission.media.allanshomelab.com/transmission/web/"
    pattern: "*Transmission*"
  - name: KVM (Shardik)
    group: "Sites (KVM)"
    url: "https://one.kvm.allanshomelab.com"
    pattern: "*JetKVM*"
  - name: KVM (Sirius)
    group: "Sites (KVM)"
    url: "https://two.kvm.allanshomelab.com"
    pattern: "*JetKVM*"
  - name: "Nginx"
    group: "Sites (Docker)"
    url: "https://nginx.docker.allanshomelab.com"
    pattern: "*nginx*"
    check_cert: false
  - name: "Authentik (Docker)"
    group: "Sites (Allan's Home Lab)"
    url: "https://authn.allanshomelab.com"
    pattern: "*authentik*"
gatus_tcp_endpoints:
  - name: "PostgreSQL"
    group: "K8s Load Balancer IPs"
    url: "tcp://postgres.k8s.allanshomelab.com:5432"
    ip: "192.168.86.196"
  - name: "Traefik"
    group: "K8s Load Balancer IPs"
    url: "tcp://traefik.k8s.allanshomelab.com:443"
    ip: "192.168.86.187"

traefik_services:
  - name: "derry"
    host: derry.hosts.allanshomelab.com
    url: "http://{{hostvars['derry'].ansible_host}}:8000"
  - name: "gilead"
    host: gilead.hosts.allanshomelab.com
    url: "http://{{hostvars['gilead'].ansible_host}}:80"
  - name: "procyon"
    host: procyon.hosts.allanshomelab.com
    url: "http://{{hostvars['procyon'].ansible_host}}:80"
  - name: "whoami"
    host: whoami.docker.allanshomelab.com
    url: "http://{{hostvars['flagg'].ansible_host}}:8180"
  - name: "traefik-dashboard"
    host: traefik.docker.allanshomelab.com
    url: "http://{{ hostvars['flagg'].ansible_host}}:8088"
  - name: pihole
    host: dns.docker.allanshomelab.com
    url: "http://{{ hostvars['flagg'].ansible_host }}:30080"
  - name: gatus
    host: gatus.docker.allanshomelab.com
    url: "http://{{ hostvars['flagg'].ansible_host }}:8080"
  - name: plex
    host: plex.media.allanshomelab.com
    url: "http://{{ hostvars['misery'].ansible_host }}:32400"
  - name: prowlarr
    host: prowlarr.media.allanshomelab.com
    url: "http://{{ hostvars['patricia'].ansible_host }}:9696"
  - name: lidarr
    host: lidarr.media.allanshomelab.com
    url: "http://{{ hostvars['patricia'].ansible_host }}:8686"
  - name: radarr
    host: radarr.media.allanshomelab.com
    url: "http://{{ hostvars['patricia'].ansible_host }}:7878"
  - name: sonarr
    host: sonarr.media.allanshomelab.com
    url: "http://{{ hostvars['patricia'].ansible_host }}:8989"
  - name: jellyfin
    host: jellyfin.media.allanshomelab.com
    url: "http://{{ hostvars['misery'].ansible_host }}:8096"
  - name: transmission
    host: transmission.media.allanshomelab.com
    url: "http://{{ hostvars['patricia'].ansible_host }}:9091"
  - name: sirius
    host: sirius.hosts.allanshomelab.com
    url: "https://{{ hostvars['sirius'].ansible_host }}:8006"
    scheme: https
  - name: shardik
    host: shardik.hosts.allanshomelab.com
    url: "https://{{ hostvars['shardik'].ansible_host }}:8006"
    scheme: https
  - name: immich
    host: photos.allanandvaia.com
    url: "http://{{ hostvars['misery'].ansible_host }}:2283"
    scheme: http
  - name: tautulli
    host: tautulli.media.allanshomelab.com
    url: "http://{{ hostvars['misery'].ansible_host }}:8181"
    scheme: http
  - name: homeassistant
    host: home.allanandvaia.com
    url: "http://{{ hostvars['arcturus'].ansible_host }}:8123"
    scheme: http
  - name: kvm1
    host: one.kvm.allanshomelab.com
    url: "http://192.168.86.247"
    scheme: http
  - name: kvm2
    host: two.kvm.allanshomelab.com
    url: "http://192.168.86.248"
    scheme: http
  - name: tools
    host: tools.docker.allanshomelab.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:8386"
    scheme: http
  - name: vault1
    host: vault.allanshomelab.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:35550"
    scheme: http
  - name: vault2
    host: vault.allanandvaia.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:35550"
    scheme: http
  - name: vault3
    host: vault.129monroe.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:35550"
    scheme: http
  - name: ngb1
    host: nogeeksbrewing.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:8080"
    scheme: http
  - name: ngb2
    host: www.nogeeksbrewing.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:8080"
    scheme: http
  - name: memos
    host: memos.allanandvaia.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:5230"
    scheme: http
  - name: portainer
    host: portainer.docker.allanshomelab.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:9000"
  - name: authentik
    host: authn.allanshomelab.com
    url: "http://{{ hostvars['flagg'].ansible_host }}:9180"
  - name: homepage
    host: homepage.docker.allanshomelab.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:3007"
  - name: nginx
    host: nginx.docker.allanshomelab.com
    url: "http://{{ hostvars['carrie'].ansible_host }}"
  - name: ahl
    host: allanshomelab.com
    url: "http://{{ hostvars['carrie'].ansible_host }}:3007"
    authentik: true

converge_docker_pihole: true
pihole_data_dir: "/var/lib/pihole"
pihole_admin_password: "{{ lookup('env', 'PIHOLE_ADMIN_PASSWORD') }}"
pihole_upstreams:
  - "1.1.1.1"
  - "1.0.0.1"
  - "9.9.9.9"
  - "149.112.112.112"
pihole_a_records:
  - name: "docker.allanshomelab.com"
    address: "192.168.86.205" 
  - name: "hosts.allanshomelab.com"
    address: "192.168.86.205" 
  - name: "media.allanshomelab.com"
    address: "192.168.86.205" 
  - name: "k8s.allanshomelab.com"
    address: "192.168.86.187" 
  - name: "kvm.allanshomelab.com"
    address: "192.168.86.205"
  - name: "postgres.k8s.allanshomelab.com"
    address: "192.168.86.196"
pihole_cname_records:
  - alias: "gatus.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "dns.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "derry.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "gilead.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "shardik.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "procyon.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "sirius.hosts.allanshomelab.com"
    target: "hosts.allanshomelab.com"
  - alias: "traefik.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "whoami.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "alerts.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "lidarr.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "longhorn.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "dns.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "traefik.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "portainer.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "prometheus.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "radarr.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "sonarr.k8s.allanshomelab.com"
    target: "k8s.allanshomelab.com"
  - alias: "one.kvm.allanshomelab.com"
    target: "kvm.allanshomelab.com"
  - alias: "two.kvm.allanshomelab.com"
    target: "kvm.allanshomelab.com"
  - alias: "prowlarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "lidarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "radarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "sonarr.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "jellyfin.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "transmission.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "tautulli.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "plex.media.allanshomelab.com"
    target: "media.allanshomelab.com"
  - alias: "tools.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "homepage.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
  - alias: "nginx.docker.allanshomelab.com"
    target: "docker.allanshomelab.com"
