---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: "Allan's Home Lab"
headerStyle: underlined
useEqualHeights: true
layout:
    Home Lab Management:
        style: "row"
        columns: 4
    Dev Ops:
        style: "row"
        columns: 4
    Networking and Authentication:
        style: "row"
        columns: 4
    Media:
        style: "row"
        columns: 4
    Productivity:
        style: "row"
        columns: 4
    Home Automation:
        style: "row"
        columns: 4
    GitHub:
    GitOps:
    Documentation:
theme: "dark"
color: "slate"
