---
- name: Twingate | Deploy docker compose app
  ansible.builtin.include_role:
    name: all_docker_compose
    apply:
      tags: [l4, step_docker_twingate]
  when: converge_docker_twingate
  tags: [l4, step_docker_twingate]
  vars:
    compose_app_name: twingate
    compose_source_type: template
    compose_template_src: "templates/twingate.compose.yaml.j2"
    compose_env:
      TWINGATE_NETWORK_NAME: "{{ lookup('env', 'TWINGATE_NETWORK_NAME') }}"
      TWINGATE_ACCESS_TOKEN: "{{ twingate_access_token }}"
      TWINGATE_REFRESH_TOKEN: "{{ twingate_refresh_token }}"
