services:

  gatus:
    image: "twinproduction/gatus:{{ homelab_versions.docker_gatus }}"
    container_name: "gatus"
    restart: "unless-stopped"
    ports: 
      - "{{ homelab_ports.homelab_docker_gatus | default(8080) }}:8080/tcp"
    volumes: 
      - "{{ homelab_docker_gatus_volumes.config }}:/config"
      - "{{ homelab_docker_gatus_volumes.data }}:/data/"
