auth:
  rootPassword: {{ k3s_mariadb.root_password }}
  password: {{ k3s_mariadb.root_password }}
  replicationPassword: {{ k3s_mariadb.root_password }}

primary:
  service:
    type: LoadBalancer
    loadBalancerIP: {{ k3s_mariadb.loadBalancerIp }}
  persistence:
    existingClaim: mariadb
