cluster:
  allowSchedulingOnControlPlanes: true

machine:
  network:
    hostname: {{ hostvars[item].inventory_hostname }}
    interfaces:
      - interface: {{ hostvars[item].talos_interface }}
        addresses:
          - {{ hostvars[item].ansible_host }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ talos_network_gateway }}
