cluster:
  allowSchedulingOnControlPlanes: true

machine:
  network:
    hostname: {{ host.inventory_hostname }}
    interfaces:
      - interface: {{ host.talos_interface }}
        addresses:
          - {{ host.ansible_host }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ talos_network_gateway }}
