apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ service_account_name }}
  namespace: {{ service_account_namespace | default('default') }}
  labels:
    app.kubernetes.io/name: {{ service_account_label | default(service_account_name) }}
secrets:
  - name: {{ service_account_secret | default(service_account_name) }}
