cluster:
  proxy:
    extraArgs:
      metrics-bind-address: 0.0.0.0:{{ homelab_talos_node_proxy_metrics_bind | default(10249) }}
      
machine:
  install:
    disk: {{ hostvars[item].homelab_talos_node_talos_disk | default('/dev/sda') }}
    wipe: {{ hostvars[item].homelab_talos_node_talos_wipe | default(false) }}

  kubelet:
{% if homelab_talos_worker_extra_mounts is defined %}
    extraMounts:
{% for mount in homelab_talos_worker_extra_mounts %}
      - destination: {{ mount.destination }}
        type: bind
        source: {{ mount.source }}
        options:
          - bind
          - rshared
          - rw
{% endfor %}
{% endif %}

{% if homelab_talos_worker_disks is defined %}
  disks:
{% for disk in homelab_talos_worker_disks %}
    - device: {{ disk.device }}
      partitions:
        - mountpoint: {{ disk.mountpoint }}
{% endfor %}
{% endif %}

  network:
    hostname: {{ hostvars[item].inventory_hostname }}
    interfaces:
      - interface: {{ hostvars[item].homelab_talos_node_interface }}
        addresses:
          - {{ hostvars[item].ansible_host }}/24
        dhcp: false
        routes:
          - network: 0.0.0.0/0
            gateway: {{ homelab_talos_cluster_network_gateway }}
    nameservers:
      - {{ talos_network_dns | default(homelab_talos_cluster_network_gateway) }}
