---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- GitHub:
    - Allan's Home Lab:
        - abbr: AH
          href: https://github.com/allan-lewis/allans-home-lab
    - Dotfiles:
        - abbr: DF
          href: https://github.com/allan-lewis/dotfiles
    - Gitops Home Lab:
        - abbr: GH
          href: https://github.com/allan-lewis/gitops-homelab
    - Gitops Home Lab Orchestrator:
        - abbr: GO
          href: https://github.com/allan-lewis/gitops-homelab-orchestrator
    - Homelab Metrics:
        - abbr: HM
          href: https://github.com/allan-lewis/homelab-metrics
    - No Geeks Brewing:
        - abbr: NG
          href: https://github.com/allan-lewis/no-geeks-brewing-go
- GitOps:
    - Docker Hub:
        - abbr: DH
          href: https://hub.docker.com/search?q=allanelewis
    - Doppler:
        - abbr: DP
          href: https://dashboard.doppler.com/workplace/f4e646dd70eec9c4d331/projects/default
    - Renovate:
        - abbr: RV
          href: https://developer.mend.io/github/allan-lewis
- Documentation:  
    - Homepage:
        - abbr: HP
          href: https://gethomepage.dev/
