global:
  resolve_timeout: 5m
  http_config:
    follow_redirects: true
    enable_http2: true
  telegram_api_url: https://api.telegram.org

route:
  receiver: "null"
  group_by: ["alertname"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 24h

  routes:
    # Optional: explicitly drop Watchdog
    - receiver: "null"
      matchers:
        - alertname="Watchdog"
      continue: false

    # Only critical alerts go to Telegram
    - receiver: telegram
      matchers:
        - severity="critical"
      continue: false

receivers:
  - name: "null"

  - name: telegram
    telegram_configs:
      - send_resolved: true
        api_url: https://api.telegram.org
        bot_token: "{{ lookup('env', 'TELEGRAM_BOT_TOKEN') | trim }}"
        chat_id: {{ lookup('env', 'TELEGRAM_CHAT_ID') | trim | int }}
        message: '{{ "{{" }} template "telegram.default.message" . {{ "}}" }}'
        parse_mode: HTML

templates:
  - /etc/alertmanager/config/*.tmpl
