---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: no-geeks-brewing
  namespace: {{ no_geeks_brewing_namespace }}
  labels:
    app: no-geeks-brewing
spec:
  replicas: 2
  progressDeadlineSeconds: 600
  revisionHistoryLimit: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: no-geeks-brewing
  template:
    metadata:
      labels:
        app: no-geeks-brewing
    spec:
      containers:
      - name: nogeeksbrewing
        image: nogeeksbrewing/site:latest
