---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: no-geeks-brewing
  namespace:  {{ no_geeks_brewing_namespace }}
  annotations: 
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`nogeeksbrewing.com`)
      kind: Rule
      services:
        - name: no-geeks-brewing
          namespace:  {{ no_geeks_brewing_namespace }}
          port: 80
      middlewares:
        - name: default-headers
    - match: Host(`www.nogeeksbrewing.com`)
      kind: Rule
      services:
        - name: no-geeks-brewing
          namespace:  {{ no_geeks_brewing_namespace }}
          port: 80
      middlewares:
        - name: default-headers
 