* {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono Nerd Font", monospace;
  font-size: 14px;
  color: @WAYBAR_TEXT@;
  background-color: @WAYBAR_BACKGROUND@;
}

#custom-identity {
  padding: 0;
}

#custom-power {
  padding: 0 12px 0 16px;
}

#cpu,
#memory,
#temperature {
  padding-right: 12px;
}

#network {
  padding-right: 16px;
}