authentik:
    secret_key: {{ authentik_secret_key }}
    # This sends anonymous usage-data, stack traces on errors and
    # performance data to sentry.io, and is fully opt-in
    error_reporting:
        enabled: true
    postgresql:
        password: {{ authentik_postgres_password }}

ingress:
    # Specify kubernetes ingress controller class name
    ingressClassName: traefik
    enabled: true
    hosts:
        # Specify external host name
        - host: {{ authentik_hostname }}
          paths:
              - path: "/"
                pathType: Prefix

postgresql:
    enabled: true
    postgresqlPassword: {{ authentik_postgres_password }}
redis:
    enabled: true
