services:
  vaultwarden:
    image: vaultwarden/server:1.35.2
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - {{ managed_host_volumes['vaultwarden_data'].local }}:/data
    ports:
      - 35550:80
    env_file:
      - ./.env
