services:
  homelab-metrics:
    image: "allanelewis/homelab-metrics:v2026.06.0@sha256:c53e10fd8423a8b768f712615c37a9a03fbcceb4cc6fe20d33f9ddc0a9ba7ecf"
    container_name: "homelab-metrics"
    restart: "unless-stopped"
    ports: 
      - "9102:9102/tcp"
{% if homelab_metrics_forward_url is defined %}
    environment: 
      FORWARD_METRICS_URL: "{{ homelab_metrics_forward_url }}"
{% endif %}
