services:
  homelab-metrics:
    image: "allanelewis/homelab-metrics:v2026.04.0"
    container_name: "homelab-metrics"
    restart: "unless-stopped"
    ports: 
      - "9102:9102/tcp"
{% if homelab_metrics_forward_url is defined %}
    environment: 
      FORWARD_METRICS_URL: "{{ homelab_metrics_forward_url }}"
{% endif %}
