services:
  homelab-metrics:
    image: "allanelewis/homelab-metrics:v2026.07.0@sha256:e19acc00c52741bfab0acba6248e4c56e75866c042f605d1bffb636a216dfa46"
    container_name: "homelab-metrics"
    restart: "unless-stopped"
    ports: 
      - "9102:9102/tcp"
{% if homelab_metrics_forward_url is defined %}
    environment: 
      FORWARD_METRICS_URL: "{{ homelab_metrics_forward_url }}"
{% endif %}
