authentik:
    secret_key: {{ homelab_kubernetes_authentik_secret_key }}
    # This sends anonymous usage-data, stack traces on errors and
    # performance data to sentry.io, and is fully opt-in
    error_reporting:
        enabled: true
    postgresql:
        password: {{ homelab_kubernetes_authentik_postgres_password }}

server:
    ingress:
        # Specify kubernetes ingress controller class name
        ingressClassName: traefik
        enabled: true
        hosts:
            - {{ homelab_kubernetes_authentik_hostname }}

postgresql:
    enabled: true
    auth:
        password: {{ homelab_kubernetes_authentik_postgres_password }}
redis:
    enabled: true
