prometheus:    
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            resources:
              requests:
                storage: 128Gi

      additionalScrapeConfigs:
        - job_name: 'node-exporter'
          static_configs:
            - targets:
{% for node in groups['docker_nodes'] %}
              - '{{hostvars[node]['ansible_host']}}:{{ known_ports.node_exporter_http_port }}'
{% endfor %}
        - job_name: 'cadvisor'
          static_configs:
            - targets:
{% for node in groups['docker_nodes'] %}
              - '{{hostvars[node]['ansible_host']}}:{{ known_ports.cadvisor_http_port }}'
{% endfor %}
{% if uptime_kuma_monitoring is defined %}
        - job_name: 'uptime-kuma'
          scheme: {{ uptime_kuma_monitoring.scheme | default ('https') }}
          basic_auth:
            username: {{ uptime_kuma_monitoring.username }}
            password: {{ uptime_kuma_monitoring.password }}
          static_configs:
            - targets:
              - '{{ uptime_kuma_monitoring.host }}:{{ uptime_kuma_monitoring.port }}'
{% endif %}

grafana:
  persistence:
    enabled: true
    type: pvc
    existingClaim: grafana

alertmanager:
  alertmanagerSpec:
    storage: 
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 4Gi
