---
services:

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    restart: unless-stopped
    ports:
      - "3070:9093"
    environment:
      TZ: America/New_York
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/var/lib/alertmanager"
      - "--web.external-url=https://alertmanager.docker.allanshomelab.com"
    volumes:
      - {{ alertmanager_config_dir }}/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - {{ alertmanager_config_dir }}/config:/etc/alertmanager/config:ro
      - {{ alertmanager_data_dir }}:/var/lib/alertmanager

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3071:3000"
    env_file:
      - ./.env
    volumes:
      - {{ grafana_data_dir }}:/var/lib/grafana
      - {{ grafana_provision_dir }}:/etc/grafana/provisioning:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "3072:9090"
    user: "{{ gitops_uid }}:{{ gitops_gid }}"
    command:
      - "--config.file={{ prometheus_config_dir }}/prometheus.yml"
      - "--storage.tsdb.path={{ prometheus_data_dir }}"
      - "--storage.tsdb.retention.time=14d"
      - "--storage.tsdb.retention.size=64GB"
      - "--web.external-url=https://prometheus2.docker.allanshomelab.com"
      - "--web.enable-lifecycle"
    volumes:
      - {{ prometheus_config_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - {{ prometheus_data_dir }}:/var/lib/prometheus
