---
services:

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    restart: unless-stopped
    ports:
      - "3070:9093"
    environment:
      TZ: America/New_York
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/var/lib/alertmanager"
      - "--web.external-url=https://alertmanager.docker.allanshomelab.com"
    volumes:
      - {{ alertmanager_config_dir }}/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - {{ alertmanager_config_dir }}/config:/etc/alertmanager/config:ro
      - {{ alertmanager_data_dir }}:/var/lib/alertmanager

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3071:3000"
    env_file:
      - ./.env
    volumes:
      - {{ grafana_data_dir }}:/var/lib/grafana
      - {{ grafana_provision_dir }}:/etc/grafana/provisioning:ro
