services:
  plex:
    image: "lscr.io/linuxserver/plex:1.42.2"
    container_name: plex
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ={{ compose_env.PLEX_TZ }}
      - PUID={{ compose_env.PLEX_PUID }}
      - PGID={{ compose_env.PLEX_PGID }}
    volumes:
      - {{ plex_config_dir }}:/config
      - {{ plex_transcode_dir }}:/transcode
      - {{ plex_media_library }}:/media-library:ro
