services:
  vaultwarden:
    image: vaultwarden/server:1.35.0
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - {{ vaultwarden_data_dir }}:/data
    ports:
      - 35550:80
    env_file:
      - ./.env
