[Unit]
Description=Cloudflare tunnel for %i
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/bin/cloudflared --no-autoupdate --config /etc/cloudflared/%i.yml tunnel run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target