kind: Service
apiVersion: v1
metadata:
  name: {{ item.service_name }}
  namespace: {{ homelab_k8s_namespace }}
spec:
  ports:
    - protocol: TCP
      port: {{ item.service_port }}
      targetPort: {{ item.service_port }}
  