services:

  plex:
    container_name: "plex"
    image: "lscr.io/linuxserver/plex:{{ homelab_versions.docker_plex }}"
    restart: "unless-stopped"
    network_mode: "host"
    volumes: 
      - "{{ homelab_docker_plex_config_volume }}:/config"
      - "{{ homelab_docker_plex_media_library }}:/media-library"
    environment: 
      TZ: "{{ homelab_time_zone }}"
      PUID: "{{ homelab_user_id }}"
      PGID: "{{ homelab_group_id }}"
