services:

  pihole:
    container_name: "pihole"
    image: "pihole/pihole:{{ homelab_versions.docker_pihole }}"
    restart: "unless-stopped"
    ports: 
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "{{ homelab_ports.docker_pihole }}:80/tcp"
    volumes: 
      - "{{ homelab_docker_pihole_data }}:/etc/pihole"
      - "{{ homelab_docker_pihole_dns }}:/etc/dnsmasq.d"
    environment: 
      TZ: "{{ homelab_time_zone }}"
      WEBPASSWORD: "{{ homelab_docker_pihole_admin_password }}"
    capabilities:
      - NET_ADMIN
