services:

  jackett:
    container_name: "jackett"
    image: "lscr.io/linuxserver/jackett:{{ homelab_versions.docker_jackett }}"
    restart: "unless-stopped"
    ports: 
      - "{{ homelab_ports.docker_jackett }}:9117/tcp"
    volumes: 
      - "{{ homelab_docker_media_acquisition_jackett_config }}:/config"
      - "{{ homelab_docker_media_acquisition_jackett_downloads }}:/downloads"
    environment: 
      TZ: "{{ homelab_time_zone }}"
      PUID: "{{ homelab_user_id }}"
      PGID: "{{ homelab_group_id }}"

  radarr:
    container_name: "radarr"
    image: "lscr.io/linuxserver/radarr:{{  homelab_versions.docker_radarr }}"
    restart: "unless-stopped"
    ports: 
      - "{{ homelab_ports.docker_radarr }}:7878/tcp"
    volumes: 
      - "{{ homelab_docker_media_acquisition_radarr_config }}:/config"
      - "{{ homelab_media_acquisition_movies }}:/movies"
      - "{{ homelab_docker_media_acquisition_transmission_downloads }}:/downloads"
    environment: 
      TZ: "{{ homelab_time_zone }}"
      PUID: "{{ homelab_user_id }}"
      PGID: "{{ homelab_group_id }}"

  sonarr:
    container_name: "sonarr"
    image: "lscr.io/linuxserver/sonarr:{{ homelab_versions.docker_sonarr }}"
    restart: "unless-stopped"
    ports: 
      - "{{ homelab_ports.docker_sonarr }}:8989/tcp"
    volumes: 
      - "{{ homelab_docker_media_acquisition_sonarr_config }}:/config"
      - "{{ homelab_media_acquisition_shows }}:/tv"
      - "{{ homelab_docker_media_acquisition_transmission_downloads }}:/downloads"
    environment: 
      TZ: "{{ homelab_time_zone }}"
      PUID: "{{ homelab_user_id }}"
      PGID: "{{ homelab_group_id }}"

  transmission:
    container_name: "transmission"
    image: "lscr.io/linuxserver/transmission:{{ homelab_versions.docker_transmission }}"
    restart: "unless-stopped"
    ports: 
      - "{{ homelab_ports.docker_transmission }}:9091/tcp"
      - 51413:51413/tcp
      - 51413:51413/udp
    volumes: 
        - "{{ homelab_docker_media_acquisition_transmission_config }}:/config"
        - "{{ homelab_docker_media_acquisition_transmission_downloads }}:/downloads"
        - "{{ homelab_docker_media_acquisition_transmission_watch }}:/watch"
    environment: 
      TZ: "{{ homelab_time_zone }}"
      PUID: "{{ homelab_user_id }}"
      PGID: "{{ homelab_group_id }}"
