---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ item.service_name }}
  namespace:  {{ service_namespace }}
  annotations: 
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ item.service_match }}`)
      kind: Rule
      services:
        - name: {{ item.service_name }}
          namespace:  {{ service_namespace }}
          port: {{ item.service_port }}