
storage:
  type: sqlite
  path: /data/data.db

endpoints:
{% for host in groups['managed_nodes'] %}
  - name: ping-{{ host }}
    group: ping
    url: "icmp://{{ hostvars[host].ansible_host }}"
    conditions:
      - "[CONNECTED] == true"
{% endfor %}
