---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ certificate_name }}
  namespace: default
spec:
  secretName: {{ secret_name }}
  issuerRef:
    name: {{ issuer_name }}
    kind: ClusterIssuer
  commonName: '{{ cert_manager_common_name }}'
  dnsNames: {{ cert_manager_dns_names }}
