network:
  ethernets:
    {{ homelab_netplan_interface }}:
      dhcp4: no
      match:
        macaddress: {{ homelab_netplan_mac_address }}
      set-name: {{ homelab_netplan_interface }}
      addresses: [{{ homelab_netplan_host | default(ansible_host) }}/24]
      routes:
        - to: 0.0.0.0/0
          via: {{ homelab_netplan_route }}
      nameservers:
        addresses: [{{ homelab_netplan_nameserver | default(homelab_netplan_route) }}]
  version: 2
