apiVersion: v1
kind: ConfigMap
metadata:
  name:  {{ homepage_name }}
  namespace:  default
  labels:
    app.kubernetes.io/name: {{ homepage_name }}
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    title: "{{ homepage_title }}"
    headerStyle: clean
{% if homepage_theme is defined %}
    theme: "{{homepage_theme}}"
{% endif %}
{% if homepage_color is defined %}
    color: "{{homepage_color}}"
{% endif %}
{% if homepage_providers is defined %}
    providers:
{% for provider in homepage_providers | default([]) %}
      {{ provider.name }}:
{% for key, value in provider.provider_attrs.items() %}
        {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
  bookmarks.yaml: |
{% for group in homepage_bookmark_groups | default([]) %}
    - {{ group.name }}:
{% for bookmark in group.bookmarks | default([]) %}
      - {{ bookmark.name }}:
        - abbr: {{ bookmark.abbr }}
          href: "{{ bookmark.href }}"
{% endfor %}
{% endfor %}
  services.yaml: |
{% for group in homepage_service_groups | default([]) %}
    - {{group.name}}:
{% for service in group.services | default([]) %}
      - {{ service.name }}:
          icon: {{ service.icon | default('') }}
          description: {{ service.description | default('') }}
          href: {{ service.href | default('') }}
{% if service.namespace is defined %}
          namespace: {{ service.namespace }}
{% endif %}
{% if service.app is defined %}
          app: {{ service.app }}
{% endif %}
{% if service.docker is defined %}
          server: {{ service.docker.server }}
          container: {{ service.docker.container }}
{% endif %}
{% if service.widget is defined %}
          widget:
            type: {{ service.widget.type }}
{% if service.widget.url is defined %}
            url: {{ service.widget.url }}
{% endif %}
{% if service.widget.deviceid is defined %}
            deviceid: {{ service.widget.deviceid }}
{% endif %}
{% if service.widget.fields is defined %}
            fields: {{ service.widget.fields }}
{% endif %}
{% if service.widget.key is defined %}
            key: {{ service.widget.key }}
{% endif %}
{% if service.widget.username is defined %}
            username: {{ service.widget.username }}
{% endif %}
{% if service.widget.password is defined %}
            password: {{ service.widget.password }}
{% endif %}
{% if service.widget.slug is defined %}
            slug: {{ service.widget.slug }}
{% endif %}
{% if service.widget.env is defined %}
            env: {{ service.widget.env }}
{% endif %}
{% if service.widget.accountid is defined %}
            accountid: {{ service.widget.accountid }}
{% endif %}
{% if service.widget.tunnelid is defined %}
            tunnelid: {{ service.widget.tunnelid }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
  widgets.yaml: |
{% for widget in homepage_widgets | default([]) %}
    - {{ widget.name }}:
{% if widget.widget_attrs is defined %}
{% for key, value in widget.widget_attrs.items() %}
        {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% for child_dict in widget.child_dicts | default([]) %}
        {{ child_dict.name }}:
{% for dictkey, dictvalue in child_dict.dict_items.items() %}
          {{ dictkey }}: {{ dictvalue }}
{% endfor %}
{% endfor %}
{% for child_list in widget.child_lists | default([]) %}
        {{ child_list.name }}:
{% for child_list_item in child_list.child_list_items | default([]) %}
          - {{ child_list_item }}
{% endfor %}
{% endfor %}
{% endfor %}
    # - kubernetes:
    #     cluster:
    #       show: true
    #       cpu: true
    #       memory: true
    #       showLabel: true
    #       label: "cluster"
    #     nodes:
    #       show: true
    #       cpu: true
    #       memory: true
    #       showLabel: true
  docker.yaml: | 
{%for docker_node in groups['docker_nodes'] %}
    {{ docker_node }}:
      host: {{ hostvars[docker_node].ansible_host  }}
      port: {{ known_ports.docker_proxy_port }}
{% endfor %}
