apiVersion: v1
kind: ConfigMap
metadata:
  name:  {{ homepage_name }}
  namespace:  default
  labels:
    app.kubernetes.io/name: {{ homepage_name }}
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    providers:
{% for provider in homepage_providers | default([]) %}
      {{ provider }}
{% endfor %}
      # longhorn:
      #   url: https://longhorn.local.allanshomelab.com
  bookmarks.yaml: |
{% for group in homepage_bookmark_groups | default([]) %}
    - {{ group.name }}:
{% for bookmark in group.bookmarks | default([]) %}
      - {{ bookmark.name }}:
        - abbr: {{ bookmark.abbr }}
          href: "{{ bookmark.href }}"
{% endfor %}
{% endfor %}
  services.yaml: |
{% for group in homepage_service_groups | default([]) %}
    - {{group.name}}:
{% for service in group.services | default([]) %}
      - {{ service.name }}:
          icon: {{ service.icon | default('') }}
          description: {{ service.description | default('') }}
          href: {{ service.href | default('') }}
{% if service.docker is defined %}
          server: {{ service.docker.server }}
          container: {{ service.docker.container }}
{% endif %}
{% if service.widget is defined %}
          widget:
            type: {{ service.widget.type }}
            url: {{ service.widget.url }}
{% if service.widget.key is defined %}
            key: {{ service.widget.key }}
{% endif %}
{% if service.widget.username is defined %}
            username: {{ service.widget.username }}
{% endif %}
{% if service.widget.password is defined %}
            password: {{ service.widget.password }}
{% endif %}
{% if service.widget.slug is defined %}
            slug: {{ service.widget.slug }}
{% endif %}
{% if service.widget.env is defined %}
            env: {{ service.widget.env }}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
  widgets.yaml: |
{% for widget in homepage_widgets | default([]) %}
    - {{ widget.name }}:
{% for key, value in widget.widget_attrs.items() %}
        {{ key }}: {{ value }}
{% endfor %}
{% endfor %}
    # - datetime:
    #     text_size: xl
    #     format:
    #       dateStyle: full
    #       timeStyle: short
    #       hour12: false
    # - longhorn:
    #     # Show the expanded view
    #     expanded: true
    #     # Shows a node representing the aggregate values
    #     total: true
    #     # Shows the node names as labels
    #     labels: true
    #     # Show the nodes
    #     nodes: true
    #     # An explicit list of nodes to show. All are shown by default if "nodes" is true
    #     # include:
    #     #   - node1
    #     #   - node2
    # - kubernetes:
    #     cluster:
    #       show: true
    #       cpu: true
    #       memory: true
    #       showLabel: true
    #       label: "cluster"
    #     nodes:
    #       show: true
    #       cpu: true
    #       memory: true
    #       showLabel: true
    # - resources:
    #     backend: resources
    #     expanded: true
    #     cpu: true
    #     memory: true
  docker.yaml: | 
{%for docker_node in groups['docker_nodes'] %}
    {{ docker_node }}:
      host: {{ hostvars[docker_node].ansible_host  }}
      port: {{ known_ports.docker_proxy_port }}
{% endfor %}
