config:
  bookmarks:
{% for group in homepage_bookmark_groups | default([]) %}
    - {{ group.name }}:
{% for bookmark in group.bookmarks | default([]) %}
        - {{ bookmark.name }}:
            - abbr: {{ bookmark.abbr }}
              href: "{{ bookmark.href }}"
{% endfor %}
{% endfor %}

  services:
    - My First Group:
        - My First Service:
            href: http://localhost/
            description: Homepage is awesome

    - My Second Group:
        - My Second Service:
            href: http://localhost/
            description: Homepage is the best

    - My Third Group:
        - My Third Service:
            href: http://localhost/
            description: Homepage is 😎
  widgets:
    - greeting:
        text_size: xl
        text: {{ homepage_title }}
    # show the kubernetes widget, with the cluster summary and individual nodes
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "k3s"
        nodes:
          show: false
          cpu: true
          memory: true
          showLabel: true
    - longhorn:
        # Show the expanded view
        expanded: true
        # Shows a node representing the aggregate values
        total: true
        # Shows the node names as labels
        labels: true
        # Show the nodes
        nodes: false
        # include:
        #   - castor
        #   - deneb
    - search:
        provider: google
        target: _blank
    - datetime:
        text_size: xl
        format:
          dateStyle: full
          timeStyle: short
          hour12: false
  kubernetes:
    mode: cluster
  settings:
    title: "{{ homepage_title }}"
    providers:
      longhorn:
        url: https://longhorn.local.allanshomelab.com

# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage

# This enables the service account to access the necessary resources
enableRbac: true

ingress:
  main:
    enabled: false
