---
# For configuration options and examples, please see:
# https://github.com/benphelps/homepage/wiki/Settings

title: "{{ homepage_title }}"
{% if {{homepage_theme}} is defined %}
theme: {{homepage_theme}}
{% endif %}
{% if {{homepage_theme}} is defined %}
color: {{homepage_color}}
{% endif %}
