---
# For configuration options and examples, please see:
# https://github.com/benphelps/homepage/wiki/Information-Widgets

- search:
    provider: google
    target: _blank

- greeting:
    text_size: xl
    text: {{ homepage_title }}

- kubernetes:
    cluster:
      show: true
      cpu: true
      memory: true
      showLabel: true
      label: "cluster"
    nodes:
      show: true
      cpu: true
      memory: true
      showLabel: true

- datetime:
    text_size: xl
    format:
      dateStyle: full
      timeStyle: short
      hour12: false
