#!/bin/bash

set -e

echo "Starting backups @ $(date)"

{% for item in ahl_backup_items | default([]) %}
echo "Backing up {{ item.src }}"

{% endfor %}
echo "Backups complete"

sshpass -p "{{ ahl_backup_password }}" rsync -avn --relative -e "ssh -p 22" {{  item.src }} {{ ahl_backup_username }}@{{ hostvars[item.host]['ansible_hostname'] }}:{{  item.dest }}

{% if ahl_backup_healthcheck is defined %}
echo "Sending health check"

curl -s https://hc-ping.com/{{ ahl_backup_healthcheck }}

{% endif %}
echo ""
echo "That's all, folks"
echo ""
