#!/bin/bash

set -e

echo "Starting backups @ $(date)"

{% for backup in ahl_backup_items | default([]) %}
echo "Backing up {{ backup.src }} to {{ hostvars[backup.host].ansible_host }}:{{ backup.dest }}"

sshpass -p "{{ ahl_backup_password }}" rsync -av {{ ahl_backup_extra_opts }} -e "ssh -p 22" {{  backup.src }} {{ ahl_backup_username }}@{{ hostvars[backup.host].ansible_host }}:{{ backup.dest }}

{% endfor %}
echo "Backups complete"

{% if ahl_backup_healthcheck is defined %}
echo "Sending health check"

curl -s https://hc-ping.com/{{ ahl_backup_healthcheck }}

{% endif %}
echo ""
echo "That's all, folks"
echo ""
