nextcloud:
  host: {{ nextcloud_host }}
  username: {{ nextcloud_user }}
  password: {{ nextcloud_password }}

persistence:
  enabled: true
  annotations: {}
  existingClaim: {{ nextcloud_claim_name | default('nextcloud') }}
  size: {{ nextcloud_claim_size }}

phpClientHttpsFix:
  enabled: true
  protocol: https
