---
apiVersion: v1
kind: Service
metadata:
  name: {{ homelab_kubernetes_service_name }}
  namespace: {{ homelab_kubernetes_namespace_name }}
spec:
  selector:
    app: {{ homelab_kubernetes_app_name | default(homelab_kubernetes_service_name) }}
  ports:
  - name: http
    targetPort: {{ homelab_kubernetes_service_target_port | default(homelab_kubernetes_service_port) }}
    port: {{ homelab_kubernetes_service_port }}
