network:
  ethernets:
    {{ netplan_interface }}:
      dhcp4: no
      match:
        macaddress: {{ netplan_mac_address }}
      set-name: {{ netplan_interface }}
      addresses: [{{ netplan_host | default(ansible_host) }}/24]
      routes:
        - to: 0.0.0.0/0
          via: {{ netplan_route }}
      nameservers:
        addresses: [{{ netplan_nameserver | default(netplan_route) }}]
  version: 2
