apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ homelab_kubernetes_service_account_name }}
  namespace: {{ homelab_kubernetes_service_account_namespace | default('default') }}
  labels:
    app.kubernetes.io/name: {{ homelab_kubernetes_service_account_label | default(homelab_kubernetes_service_account_name) }}
secrets:
  - name: {{ homelab_kubernetes_service_account_secret | default(homelab_kubernetes_service_account_name) }}
