# interfaces(5) file used by ifup(8) and ifdown(8)
# Include files from /etc/network/interfaces.d:
source /etc/network/interfaces.d/*

auto {{ netplan_interface }}
iface {{ netplan_interface }} inet static
        address {{ netplan_host | default(ansible_host) }}/24
        network {{ netplan_network }}
        broadcast {{ netplan_broadcast }}
        gateway {{ netplan_route }}
        dns-nameservers {{ netplan_nameserver | default(netplan_route) }}
