cluster:
  allowSchedulingOnControlPlanes: true

machine:
  install:
    disk: {{ hostvars[item].talos_disk | default('/dev/sda') }}
    wipe: {{ hostvars[item].talos_wipe | default(false) }}

  kubelet:
    extraArgs:
      metrics-bind-address: 0.0.0.0:10249
  #   extraMounts:
  #     - destination: /var/lib/longhorn
  #       type: bind
  #       source: /var/lib/longhorn
  #       options:
  #         - bind
  #         - rshared
  #         - rw
  #     - destination: /var/mnt/longhorn-storage
  #       type: bind
  #       source: /var/mnt/longhorn-storage
  #       options:
  #         - bind
  #         - rshared
  #         - rw

  # disks:
  #   - device: /dev/nvme0n1
  #     partitions:
  #       - mountpoint: /var/mnt/longhorn-storage

  network:
    hostname: {{ hostvars[item].inventory_hostname }}
    interfaces:
      - interface: {{ hostvars[item].talos_interface }}
        addresses:
          - {{ hostvars[item].ansible_host }}/24
        dhcp: false
        routes:
          - network: 0.0.0.0/0
            gateway: {{ talos_network_gateway }}
    nameservers:
      - {{ talos_network_dns | default(talos_network_gateway) }}
