# Managed by Ansible (all_postgres_db_backup)
# shellcheck shell=bash

DB="{{ postgres_db_name | default('') }}"
USER="{{ postgres_db_user | default('') }}"
PASS="{{ postgres_db_password | default('') }}"
EXTRA_ARGS="{{ postgres_db_dump_extra_args | default('') }}"

# Mode A: Docker
CONTAINER="{{ postgres_db_container | default('') }}"

# Mode B: Kubernetes
KNS="{{ postgres_db_k8s_namespace | default('') }}"
KPOD="{{ postgres_db_k8s_pod | default('') }}"
KCTR="{{ postgres_db_k8s_container | default('') }}"
KSEL="{{ postgres_db_k8s_selector | default('') }}"
