apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: {{ homepage_name }}
  namespace: default
  labels:
    app.kubernetes.io/name: {{ homepage_name }}
  annotations:
    kubernetes.io/service-account.name: {{ homepage_name }}
