---
apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace_name }}
spec:
  selector:
    app: {{ app_name | default(service_name) }}
  ports:
  - name: http
    targetPort: {{ target_port | default(service_port) }}
    port: {{ service_port }}
