---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ ingress_name | default(service_name) }}
  namespace: {{ namespace_name }}
  annotations: 
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
{% for route in routes %}
    - match: Host(`{{ route.host }}`)
      kind: Rule
      middlewares:
        - name: {{ k3s_traefik.ingress_route_middleware_name }}
          namespace: {{ k3s_traefik.ingress_route_middleware_namespace }}
      services:
        - name: {{ route.service_name | default(service_name) }}
          namespace:  {{ namespace_name }}
          port: {{ route.service_port | default(service_port) }}
          scheme: {{ route.scheme | default('http') }}
{% endfor %}
