apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-ingress-headers
  namespace: {{ namespace_name }}
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"