---
- name: Vaultwarden | Deploy docker compose app
  ansible.builtin.include_role:
    name: all_docker_compose
    apply:
      tags: [l4, step_docker_vaultwarden]
  when: converge_docker_vaultwarden
  tags: [l4, step_docker_vaultwarden]
  vars:
    compose_app_name: vaultwarden
    compose_source_type: template
    compose_template_src: templates/vaultwarden.compose.yaml.j2
    compose_env: 
      ADMIN_TOKEN:  "{{ lookup('env', 'VAULTWARDEN_ADMIN_TOKEN') }}"
      SIGNUPS_ALLOWED: "false"
    compose_paths:
      - path: "/var/lib/vaultwarden"
        create: true
        mode: "0755"