---
- name: Pi-hole | Deploy docker compose app
  ansible.builtin.include_role:
    name: all_docker_compose
    apply:
      tags: [l4, step_docker_observability]
  vars:
    compose_app_name: observability
    compose_source_type: template
    compose_template_src: templates/docker-compose/observability.compose.yaml.j2
    compose_env:
      GF_SERVER_DOMAIN: "grafana.allanshomelab.com"
      GF_SERVER_ROOT_URL: "https://grafana.allanshomelab.com"
      GF_SERVER_ENABLE_GZIP: true
      GF_SECURITY_ADMIN_USER: "{{ lookup('env', 'HOMEPAGE_VAR_GRAFANA_USERNAME') }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ lookup('env', 'HOMEPAGE_VAR_GRAFANA_PASSWORD') }}"
      GF_SECURITY_DISABLE_GRAVATAR: true
      GF_SECURITY_COOKIE_SECURE: true
      GF_SECURITY_COOKIE_SAMESITE: lax
      GF_USERS_ALLOW_SIGN_UP: false
      GF_USERS_AUTO_ASSIGN_ORG: true
      GF_USERS_AUTO_ASSIGN_ORG_ROLE: Viewer
      GF_AUTH_DISABLE_LOGIN_FORM: false
      GF_AUTH_BASIC_ENABLED: true
      GF_AUTH_ANONYMOUS_ENABLED: false
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_EXPLORE_ENABLED: true
      GF_ALERTING_ENABLED: true
      GF_UNIFIED_ALERTING_ENABLED: true
      GF_LOG_MODE: console
      GF_LOG_LEVEL: info
      GF_INSTALL_PLUGINS: "grafana-piechart-panel"
      # Generic OAuth (Authentik)
      GF_AUTH_GENERIC_OAUTH_ENABLED: true
      GF_AUTH_GENERIC_OAUTH_NAME: Authentik
      GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP: true
      GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: "https://authn.allanshomelab.com/application/o/authorize/"
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://authn.allanshomelab.com/application/o/token/"
      GF_AUTH_GENERIC_OAUTH_API_URL: "https://authn.allanshomelab.com/application/o/userinfo/"
      GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH: preferred_username
      GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH: email
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups[*], 'grafana-admin') && 'Admin' || 'Viewer'"
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "{{ lookup('env', 'GF_AUTH_GENERIC_OAUTH_CLIENT_ID') }}"
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ lookup('env', 'GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET') }}"
    # 472 is the default user id for the grafana container
    compose_extra_templates:
      - src: "templates/grafana/prometheus.yaml.j2"
        dest: "{{ grafana_provision_dir }}/datasources/prometheus.yaml"
        uid: "472"
        gid: "472"
      - src: "templates/alertmanager/alertmanager.yaml.j2"
        dest: "{{ alertmanager_config_dir }}/alertmanager.yml"
      - src: "templates/alertmanager/telegram.tmpl.j2"
        dest: "{{ alertmanager_config_dir }}/config/telegram.tmpl"
      - src: "templates/prometheus/prometheus.yaml.j2"
        dest: "{{ prometheus_config_dir }}/prometheus.yml"
    compose_paths:
      - path: "{{ alertmanager_config_dir }}/config"
        create: true
        mode: "0755"
      - path: "{{ alertmanager_data_dir }}"
        create: true
        mode: "0755"
        uid: "65534"
        gid: "65534"
      - path: "{{ grafana_data_dir }}"
        create: true
        uid: "472"
        gid: "472"
        mode: "0755"
      - path: "{{ grafana_provision_dir }}/datasources"
        create: true
        uid: "472"
        gid: "472"
        mode: "0755"
      - path: "{{ prometheus_config_dir }}"
        create: true
        mode: "0755"
      - path: "{{ prometheus_data_dir }}"
        create: true
        mode: "0755"
        uid: "{{ gitops_uid }}"
        gid: "{{ gitops_gid }}"