services:

  traefik:
    image: "traefik:{{ homelab_versions.docker_traefik }}"
    container_name: "traefik"
    restart: unless-stopped
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare"
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.myresolver.acme.email={{ homelab_email }}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--providers.file.directory=/traefik/"
      - "--serversTransport.insecureSkipVerify=true"
    ports:
      - "80:80"
      - "443:443"
      - "8088:8080"
    environment:
      - CF_API_EMAIL= {{ homelab_email }}
      - CF_API_KEY= {{ homelab_cloudflare_api_key }}
    volumes:
      - "{{ homelab_docker_traefik_letsencrypt_volume }}:/letsencrypt"
      - "{{ homelab_docker_traefik_volume }}:/traefik"
      - "/var/run/docker.sock:/var/run/docker.sock"

  # authentik-proxy:
  #     image: ghcr.io/goauthentik/proxy:{{ homelab_versions.docker_authentik }}
  #     ports:
  #         - 9000:9000
  #         - 9443:9443
  #     environment:
  #         AUTHENTIK_HOST: {{ homelab_docker_authentik_host }}
  #         AUTHENTIK_INSECURE: "true"
  #         AUTHENTIK_TOKEN: {{ homelab_docker_authentik_token }}
  #     restart: unless-stopped

  whoami:
    image: "traefik/whoami:latest"
    container_name: "whoami"
    restart: unless-stopped
    ports:
        - {{ homelab_ports.docker_whoami | default(8180) }}:80
