apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: aws-secret
  namespace: longhorn-system
data:
  AWS_ACCESS_KEY_ID: {{ s3_access_key_id }}
  AWS_SECRET_ACCESS_KEY: {{ s3_secret_access_key }}
