controller:
  ingress:
    enabled: false
  JCasC:
    securityRealm: |-
      local:
        allowsSignup: false
        enableCaptcha: false
        users:
        - id: "admin"
          name: "Jenkins Admin"
          password: "{{ k3s_jenkins.admin_password }}"
    authorizationStrategy: |-
      loggedInUsersCanDoAnything:
        allowAnonymousRead: false
       
persistence:
  existingClaim: jenkins
